* {
  padding: 0px;
  margin: 0px;
  font-family: "Arial";
}
header {
  padding: 5rem;
  background-color: #3cb98c;
  color: #fefefe;
}

nav {
  background-color: #41375a;
}
nav ul {
  display: flex;
  justify-content: space-around;
}
nav ul li {
  list-style: none;
  padding: 25px;
  font-size: 25px;
}
nav ul li a {
  color: white;
  text-decoration: none;
}

footer {
  background-color: #ffc8a5;
  padding: 20px 5px;
  margin-top: 50px;
}

.home-welcome {
  padding: 100px 50px;
}
.home-welcome h2 {
  font-size: 3rem;
  margin-bottom: 15px;
}

blockquote {
  display: table;
  margin-bottom: 1em;
  border-bottom: 1px solid #ccc;
  padding: 0.5em;
}
blockquote p {
  display: table-cell;
  width: 90%;
  vertical-align: top;
}
blockquote form {
  display: table-cell;
  width: 10%;
}

.errors {
  padding: 1em;
  border: 1px solid red;
  background-color: lightyellow;
  color: red;
  margin-bottom: 1em;
  overflow: auto;
}
.errors ul {
  margin-left: 1em;
}
